<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="DEBUG_LOG" class="ch.qos.logback.core.FileAppender">
        <file>debug.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="DEBUG_LOG" />
    </root>
</configuration>
